<ion-content>
  <div class="bg-img">
    <!-- avatar-->
    <ion-avatar class="avatars">
      <!-- call for the img-->
      <img src="../../assets/lock2.jpg" />
    </ion-avatar>

    <div class="divlogin ion-padding">
      <!-- the form must be a valid -->
      <form [formGroup]="signInForm" (ngSubmit)="signInWithEmail()">
        <ion-list class="item-background-color"  lines="full">
          <ion-item >
            <ion-input
            
              type="email"
              placeholder="Email"
              formControlName="email"
              clearInput
              autocapitalize="off"
              inputmode="email"
            ></ion-input>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div
                class="error-message"
                *ngIf="signInForm.get('email').hasError(validation.type) && (signInForm.get('email').dirty || signInForm.get('email').touched)"
              >
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>

          <ion-item class="input-item">
            <ion-input
              type="password"
              placeholder="Password"
              formControlName="password"
            ></ion-input>
          </ion-item>
          <div class="error-container">
            <ng-container
              *ngFor="let validation of validation_messages.password"
            >
            <!-- if there is an error will show here -->
              <div
                class="error-message"
                *ngIf="signInForm.get('password').hasError(validation.type) && (signInForm.get('password').dirty || signInForm.get('password').touched)"
              >
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </ion-list>

        <ion-button
          class="btnlogin"
          type="submit"
          expand="block"
          [disabled]="!signInForm.valid"
          >Sign In</ion-button
        >
        <ion-button class="btninscri"  [routerLink]="['/sign-up']">Register</ion-button>
        <ion-button class="btnforget" routerLink="/forget-password">Forgot Password</ion-button>
        <div class="error-container" *ngIf="submitError">
          <div class="error-message">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ submitError }}</span>
          </div>
        </div>
     
      </form>
    </div>
  </div>
</ion-content>
