.bg2-img {
  padding: 1px;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.tabs{
  --background: rgb(0, 0, 0);
}
