<ion-header>
  <div class="bg2-img">
  <ion-toolbar class="header">

      <ion-back-button slot="start"></ion-back-button>

    <ion-title>Forget Password</ion-title>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="bg2-img">

    <div class="bg2-img">
      <div class="divlogin ion-padding">


          <ion-label>
            <ion-text class="txtforget">*Please enter your email that you sign up with </ion-text>
          </ion-label>
       <br/>


        <ion-item class="item-background-color">
          <!-- <ion-icon style="margin-top: 50px;" name="mail" slot="start"></ion-icon>
          -->
            <ion-label position="floating" class="labellogin">Email</ion-label>
          <ion-input type="email" autoFocus [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item class="item-background-color" *ngIf= "email?.length === 0" lines="none">
          <ion-label>
            <ion-text color=danger>This field is required</ion-text>
                <!-- if user enter empty filed will show this msg "This field is required" -->

          </ion-label>
        </ion-item>
      <br/><br/>


            <ion-button expand="block" class="btnsend"  >Send</ion-button>


        </div>
      </div>
    </div>
</ion-content>
